@tailwind base;
@tailwind components;
@tailwind utilities;
@source ".."
@source "~/quicklisp/dists/ultralisp/software/40ants-40ants-asdf-system-20250224142720/**/*"
@source "~/quicklisp/dists/ultralisp/software/40ants-clack-cors-20250224155122/**/*"
@source "~/quicklisp/dists/ultralisp/software/40ants-clack-prometheus-20250214232627/**/*"
@source "~/quicklisp/dists/ultralisp/software/40ants-clack-sse-20250628140138/**/*"
@source "~/quicklisp/dists/ultralisp/software/40ants-doc-20250913195822/**/*"
@source "~/quicklisp/dists/ultralisp/software/40ants-log4cl-extras-20251005202734/**/*"
@source "~/quicklisp/dists/ultralisp/software/40ants-logging-20250731073830/**/*"
@source "~/quicklisp/dists/ultralisp/software/40ants-prometheus-gc-20250224162526/**/*"
@source "~/quicklisp/dists/ultralisp/software/40ants-reblocks-20250929135310/**/*"
@source "~/quicklisp/dists/ultralisp/software/40ants-reblocks-file-server-20250522223222/**/*"
@source "~/quicklisp/dists/ultralisp/software/40ants-reblocks-lass-20250224155427/**/*"
@source "~/quicklisp/dists/ultralisp/software/40ants-reblocks-prometheus-20250518105045/**/*"
@source "~/quicklisp/dists/ultralisp/software/40ants-reblocks-ui2-20250522221532/**/*"
@source "~/quicklisp/dists/ultralisp/software/40ants-routes-20250511222417/**/*"
@source "~/quicklisp/dists/ultralisp/software/40ants-slynk-20240313084722/**/*"
